<div ng-app="residence" ng-controller="residenceController">

	<h2>Add New Residence</h2>

	<form ng-submit="residenceAdd()">
		<input type="text" ng-model="name" size="50" placeholder="Name">
		<input type="text" ng-model="age" size="3" placeholder="Age">
		<input type="text" ng-model="gender" size="10" placeholder="Gender">
		<input type="submit" value="Add New">
	</form>

	<br>

	<table>
		<th>S/N</th>
		<th>Name</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Paid</th>
		<th></th>
		<tr ng-repeat="residence in residenceList">
			<td ng-class-odd="'odd'" ng-class-even="'even'">{{ $index + 1 }}</td>
			<td ng-class-odd="'odd'" ng-class-even="'even'">{{
				residence.name }}</td>
			<td ng-class-odd="'odd'" ng-class-even="'even'">{{ residence.age
				}}</td>
			<td ng-class-odd="'odd'" ng-class-even="'even'">{{
				residence.gender }}</td>
			<td ng-class-odd="'odd'" ng-class-even="'even'">{{
				residence.paid }}</td>
			<td ng-class-odd="'odd'" ng-class-even="'even'"><button
					ng-click="markPaid()">Paid</button></td>
		</tr>
	</table>
</div>
