<!doctype html>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script>
    <script src="//ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="//ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="//ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="//ui-grid.info/release/ui-grid.js"></script>
    <link rel="stylesheet" href="//ui-grid.info/release/ui-grid.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
  </head>
  <body ng-app="residence" ng-controller="residenceController">

<h2>Add New Residence</h2>

<form ng-submit="residenceAdd()">
    <input type="text" ng-model="name" size="50" placeholder="Name">
    <input type="text" ng-model="age" size="3" placeholder="Age">
    <input type="text" ng-model="gender" size="10" placeholder="Gender">
    <input type="submit" value="Add New">
</form>

<br>

<table>
  <th>S/N</th>
  <th>Name</th>
  <th>Age</th>
  <th>Gender</th>
  <tr ng-repeat="x in residenceList">
    <td>{{ $index + 1 }}</td>
    <td>{{ x.name }}</td>
    <td>{{ x.age }}</td>
    <td>{{ x.gender }}</td>
  </tr>
</table>
        <script src="js/addResidence.js"></script>
</body>
</html>
