<div ng-app="residence" ng-controller="updateResidenceController">

	<h2>Update Residence</h2>

	<form ng-submit="updateResidence()">
		<label>Name :</label><input type="text" ng-model="residence.name"
			size="50" placeholder="Name"> <br /> <label>Age : </label><input
			type="text" ng-model="residence.age" size="3" placeholder="Age">
		<br /> <label>Gender : </label><input type="text"
			ng-model="residence.gender" size="10" placeholder="Gender"> <br />
		<label>Paid : </label><input type="text" ng-model="residence.paid"
			size="10" placeholder="Paid"> <br /> <input type="submit"
			value="Update">
	</form>
</div>
